@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

.main {
    background-image: url(assets/img/background\ img.jpg);
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    padding: 023px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    text-align: center;
    gap: 23px;
}

.hero span h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero span p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero:nth-child(3) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

body {
    background-color: black;
}

.sepration {
    height: 5px;
    background-color: rgb(74, 72, 72);
    position: relative;
}

.btn {
    padding: 3px 8px;
    background-color: rgba(244, 234, 234, 0.065);
    color: white;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 15px 97px 15px 38px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(247, 238, 238, 0.5);

}

.btn.btn-red {
    background-color: red;
    padding: 12px 55px 8px 16px;
    border-radius: 4px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.btn.red-sn {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    height: 87vh;
    margin: auto;
    color: white;

}

@media screen and (max-width:1200px) {
    .first {
        flex-wrap: wrap;
    }

}

.secimg img {
    width: 450px;
    position: relative;
    z-index: 10;

}

.secimg {
    position: relative;

}



.secimg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 450px;
}

.thirdimg img {
    width: 450px;
    position: relative;
    z-index: 10;

}

.thirdimg {
    position: relative;

}



.thirdimg video {
    position: absolute;
    top: 39px;
    right: 90px;
    width: 272px;
}

section.first>div {
    display: flex;
    flex-direction: column;

}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}

.faq {
    background: black;
    color: white;
    font-size: 20px;

}

.faq :hover {
    background-color: rgba(128, 128, 128, 0.599);

}

.faqbox svg {
    filter: invert();
}

.faqbox {
    transition: all 1s ease-out;

    display: flex;
    background-color: rgba(128, 128, 128, 0.239);
    padding: 20px;
    max-width: 65vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;

}

.faq input {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 15px 97px 15px 38px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(247, 238, 238, 0.5);

}

.faq span h3 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;


}

.faq-button {
    padding: 25px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1200px) {
    .faq h2 {
        font-size: 32px;
    }
    footer{
max-width: 90vw; }
    .hero-buttons {
        flex-direction: column;
        
    }
    nav {
        max-width: 90vw;
    }
.footer-item{
    align-items: center;
}
    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .hero span h1 {
        font-size: 32px;

    }

    .hero span p {
        font-size: 24px;
    }

    .hero:nth-child(3) {
        font-size: 18px;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer a {
    font-size: 14px;

    color: white;
}